{% extends 'jasmin_theme/layout.html' %}

{% block head_title %}JASMIN Metrics Home{% endblock %}

{% block content_header %}{% endblock %}

{% block content %}
    <h1>JASMIN Metrics Index</h1>
    <p>Each of the below links to the prometheus end point for the metrics coresponding to the collection period.</p>
    <ul>
      <li><a href="metrics/daily">Daily Metrics</a> (<a href="metrics/daily/list">list</a>)</li>
      {# <li><a href="metrics/weekly">Weekly Metrics</a> (<a href="metrics/weekly/list">list</a>)</li> #}
      {# <li><a href="metrics/monthly">Monthly Metrics</a> (<a href="metrics/monthly/list">list</a>)</li> #}
      <li><a href="metrics/freq">Frequent Metrics</a> (<a href="metrics/freq/list">list</a>)</li>
      <li><a href="metrics/archive">Archive Metrics</a> (<a href="metrics/archive/list">list</a>)</li>
    </ul>

    <h1>Dashboards</h1>
    <p>For links to the dashboards, click below.</p>
    <ul>
      <li><a href="http://influxdb1.jasmin.ac.uk:3000/d/ALP7bb8Wz/lotus-metrics">Lotus Metrics</a></li>
      <li><a href="http://influxdb1.jasmin.ac.uk:3000/d/QE6lPxUZk/storage-metrics">Storage Metrics</a></li>

    </ul>

    <h1>Reports</h1>
    <p>Thsi section contains available reports produced by the metrics server.</p>
    <ul>
      <li><a href="reports/volume">Volume report</a> contains the usage and quota for all the JASMIN GWS and
          Archive Volumes (downloads a .csv)</li>
    </ul>
{% endblock %}
